[submodule "code/external/glslang/7.13.3496"]
	path = code/external/glslang/7.13.3496
	url = git@github.com:KhronosGroup/glslang.git
[submodule "code/external/glfw/3.3"]
	path = code/external/glfw/3.3
	url = https://github.com/glfw/glfw.git
[submodule "code/external/glm/0.9.9.6"]
	path = code/external/glm/0.9.9.6
	url = git@github.com:g-truc/glm.git
